astroid==2.12.13
    # via
    #   pylint
    #   pylint-celery
    #   pylint-flask
    #   requirements-detector
bandit==1.7.4
    # via prospector
build==0.9.0
    # via pyroma
certifi==2022.12.7
    # via requests
charset-normalizer==2.1.1
    # via requests
dill==0.3.6
    # via pylint
docutils==0.19
    # via pyroma
dodgy==0.2.1
    # via prospector
flake8==4.0.1
    # via flake8-polyfill
flake8-polyfill==1.0.2
    # via pep8-naming
frosted==1.4.1
    # via prospector
gitdb==4.0.10
    # via gitpython
gitpython==3.1.29
    # via bandit
idna==3.4
    # via requests
isort==5.11.1
    # via pylint
lazy-object-proxy==1.8.0
    # via astroid
mccabe==0.6.1
    # via
    #   flake8
    #   prospector
    #   pylint
mypy==0.991
    # via prospector
mypy-extensions==0.4.3
    # via mypy
packaging==22.0
    # via build
pbr==5.11.0
    # via stevedore
pep517==0.13.0
    # via
    #   build
    #   pyroma
pep8-naming==0.10.0
    # via prospector
pies==2.6.7
    # via frosted
platformdirs==2.6.0
    # via pylint
prospector[with_everything]==1.7.7
    # via -r requirements.in
pycodestyle==2.8.0
    # via
    #   flake8
    #   prospector
pydocstyle==6.1.1
    # via prospector
pyflakes==2.4.0
    # via
    #   flake8
    #   prospector
pygments==2.15.0
    # via pyroma
pylint==2.15.8
    # via
    #   prospector
    #   pylint-celery
    #   pylint-django
    #   pylint-flask
    #   pylint-plugin-utils
pylint-celery==0.3
    # via prospector
pylint-django==2.5.3
    # via prospector
pylint-flask==0.6
    # via prospector
pylint-plugin-utils==0.7
    # via
    #   prospector
    #   pylint-celery
    #   pylint-django
    #   pylint-flask
pyroma==4.1
    # via prospector
pyyaml==6.0
    # via
    #   bandit
    #   prospector
requests==2.28.1
    # via pyroma
requirements-detector==0.7
    # via prospector
setoptconf-tmp==0.3.1
    # via prospector
smmap==5.0.0
    # via gitdb
snowballstemmer==2.2.0
    # via pydocstyle
stevedore==3.5.2
    # via bandit
toml==0.10.2
    # via
    #   prospector
    #   vulture
tomlkit==0.11.6
    # via pylint
trove-classifiers==2022.12.1
    # via pyroma
typing-extensions==4.4.0
    # via mypy
urllib3==1.26.13
    # via requests
vulture==2.6
    # via prospector
wheel==0.38.4
    # via pyroma
wrapt==1.14.1
    # via astroid

# The following packages are considered to be unsafe in a requirements file:
# setuptools
