astroid==2.11.6
    # via
    #   pylint
    #   pylint-celery
    #   pylint-flask
    #   requirements-detector
attrs==21.4.0
    # via pytest
awscli==1.25.18
    # via -r ./requirements.in
bandit==1.7.4
    # via prospector
boto3==1.24.18
    # via -r ./requirements.in
botocore==1.27.18
    # via
    #   awscli
    #   boto3
    #   s3transfer
build==0.8.0
    # via pyroma
certifi==2022.6.15
    # via requests
charset-normalizer==2.0.12
    # via requests
colorama==0.4.4
    # via awscli
dill==0.3.5.1
    # via pylint
docutils==0.16
    # via
    #   awscli
    #   pyroma
dodgy==0.2.1
    # via prospector
flake8==4.0.1
    # via flake8-polyfill
flake8-polyfill==1.0.2
    # via pep8-naming
frosted==1.4.1
    # via prospector
gitdb==4.0.9
    # via gitpython
gitpython==3.1.27
    # via bandit
idna==3.3
    # via requests
iniconfig==1.1.1
    # via pytest
isort==5.10.1
    # via pylint
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
lazy-object-proxy==1.7.1
    # via astroid
mccabe==0.6.1
    # via
    #   flake8
    #   prospector
    #   pylint
mypy==0.961
    # via prospector
mypy-extensions==0.4.3
    # via mypy
packaging==21.3
    # via
    #   build
    #   pytest
pbr==5.9.0
    # via stevedore
pep517==0.12.0
    # via build
pep8-naming==0.10.0
    # via prospector
pies==2.6.7
    # via frosted
platformdirs==2.5.2
    # via pylint
pluggy==1.0.0
    # via pytest
prospector[with_everything]==1.7.7
    # via -r ./requirements.in
py==1.11.0
    # via pytest
pyasn1==0.4.8
    # via rsa
pycodestyle==2.8.0
    # via
    #   flake8
    #   prospector
pydocstyle==6.1.1
    # via prospector
pyflakes==2.4.0
    # via
    #   flake8
    #   prospector
pygments==2.12.0
    # via pyroma
pylint==2.14.3
    # via
    #   prospector
    #   pylint-celery
    #   pylint-django
    #   pylint-flask
    #   pylint-plugin-utils
pylint-celery==0.3
    # via prospector
pylint-django==2.5.3
    # via prospector
pylint-flask==0.6
    # via prospector
pylint-plugin-utils==0.7
    # via
    #   prospector
    #   pylint-celery
    #   pylint-django
    #   pylint-flask
pyparsing==3.0.9
    # via packaging
pyroma==4.0
    # via prospector
pytest==7.1.2
    # via -r ./requirements.in
python-dateutil==2.8.2
    # via botocore
pyyaml==5.4.1
    # via
    #   awscli
    #   bandit
    #   prospector
requests==2.28.0
    # via pyroma
requirements-detector==0.7
    # via prospector
rsa==4.7.2
    # via awscli
s3transfer==0.6.0
    # via
    #   awscli
    #   boto3
setoptconf-tmp==0.3.1
    # via prospector
six==1.16.0
    # via python-dateutil
smmap==5.0.0
    # via gitdb
snowballstemmer==2.2.0
    # via pydocstyle
stevedore==3.5.0
    # via bandit
toml==0.10.2
    # via
    #   prospector
    #   vulture
tomli==2.0.1
    # via
    #   build
    #   mypy
    #   pep517
    #   pylint
    #   pytest
tomlkit==0.11.0
    # via pylint
typing-extensions==4.2.0
    # via
    #   astroid
    #   mypy
    #   pylint
urllib3==1.26.9
    # via
    #   botocore
    #   requests
vulture==2.4
    # via prospector
wheel==0.37.1
    # via pyroma
wrapt==1.14.1
    # via astroid

# The following packages are considered to be unsafe in a requirements file:
# setuptools
